# Игнорировать все .log файлы
*.log

# Игнорировать папку node_modules
node_modules/

# Исключить конкретный файл из игнорирования
!important.log

# Игнорировать все файлы в папке temp
temp/*

# Игнорировать папку build в любом месте проекта
**/build/

# Игнорировать .env, но разрешить .env.example
.env
!.env.example